wp-content/*
backups/*.sql
db/*
*.tar
.idea
venv

# Credential files
sftp_db_credential.env
sftp_media_credential.env
wordpress_credential.env
mysql_credential.env

# Ignore folders
sftp_backup/backups/db/*
!sftp_backup/backups/db/.gitkeep
sftp_backup/backups/media/*
!sftp_backup/backups/media/.gitkeep
sftp_backup/target/db/*
!sftp_backup/target/db/.gitkeep
backups/*
!backups/*.sh
